*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;    

}

@font-face {
    font-family:"TTNorms-Bold";
    src: url(../assets/fonts/TTNorms-Bold.otf);
}

@font-face {
    font-family:"TTNorms-ExtraBold";
    src: url(../assets/fonts/TTNorms-ExtraBold.otf);

}

@font-face {
    font-family:"TTNorms-Regular";
    src: url(../assets/fonts/TTNorms-Regular.otf); 
}


/* ------------------------------------------------ Header + Nav -------------------------------------------------

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/img/COVERdiseñowqeb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
} 

.header__link{
    list-style-type: none;
    display: flex;
    
}

nav > ul > li{
    padding: 20px; 
    margin-right: 15px;
    font-family:TTNorms-Bold;

}

header img{
    width: 180px;
    padding-left: 10px;
    padding-top: 9px;
    
}  


/*------------------------------------------------ COVER -------------------------------------------------*/

/* .cover{
    position: relative;
   
}

.cover h2{
    position: relative;
    display: inline-block;
    font-family:TTNorms-Regular;
    top: -700px;
    margin-left: 250px;
    font-size: 130px;
    
    
}

.cover__image img{
    width: 100%;
}

.btn__shop{
    position: relative;
    font-family:TTNorms-ExtraBold;
    width: 20vh; 
    height: 50px;
    border-radius: 45px;
    font-size: 20px;
    top: -650px;
    margin-left: 300px;
    background-color: rgb(255, 255, 255);
    
}

.btn__products{
    position: relative;
    font-family:TTNorms-ExtraBold;
    width: 20vh; 
    height: 50px;
    border-radius: 45px;
    font-size: 20px;
    top: -650px;
    margin-left: 40px;

} */

/*-----------------------------------  Articulos // index // section // ---------------------------------------*/

/* .conteiner__products{
    background-image: url(../assets/img//s.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.card__1{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 25%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    font-family:TTNorms-ExtraBold;
    font-size: 2em;
   
}

.card__1 h3{
    margin-left: 15%;
    margin-top: 10%;
}

.card__1 p{
    margin-left: 25%;
    margin-top: 30px;
    
}

.card__1 img{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}


.btn{
    width: 200px;
    margin-left: 30%;
    height: 40px;
    border-radius: 20px;
    font-family:"TTNorms-ExtraBold";
    font-size: 20px;
}

.card__1 .btn{
    margin-top: 15px;
    
}

.card__2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 25%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    margin-right: 20%;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    font-family:TTNorms-ExtraBold;
    font-size: 2em;
   
    

} 

.card__2 h3{
    margin-left: 7%;
    margin-top: 10%;
    font-size: 0.9em;
}

.card__2 p{
    margin-left: 30%;
    margin-top: 24%;
    
}

.card__2 img{
    width: 60%;
    margin-left: 17%;
    margin-top: 20%;
}

.card__2 .btn{
    margin-top: 5%;
    margin-left: 35%;

}  

@media screen and (max-width: 780px){
    .conteiner__products{
        background-image: url(../assets/img//s.webp);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        height: 190vh;
        margin-top: 25%;
        
    }

    .card__1{
        width: 70vw;
        height: 70vh;
        margin-top: 20%;
        background-color: rgb(255, 255, 255);
        margin-right: 20%;
        font-size: 1em
    }

    .card__1 h3{
        font-size: 2em;
    }

    .card__1 p{
        margin-left: 35%;
    }

    .card__1 .btn{
        margin-left: 20%;
    }

    .card__2{
        width: 70vw;
        height: 70vh;
        margin-bottom: 20%;
        background-color: rgb(255, 255, 255);
        margin-left: 20%;
        font-size: 1em
    }

    .card__2 h3{
        font-size: 2em;
    }

    .card__2 p{
        margin-left: 35%;
    }

    .card__2 .btn{
        margin-left: 20%;
    }
    
}

 

/*---------------------------------------  FOOTER -------------------------------------------*/
/* 
footer{
    background-image: url(../assets/img//s.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
}

footer img{
    width: 100px;
}  */

/*---------------------------------------  Page Nosotros -------------------------------------------*/

/* .section__aboutus{
    background-image: url(../assets/img/Fondocover.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    

}

.section__aboutus img{
    width: 800px;
    margin-right: 100px;
    margin-bottom: 5em;
}

.nosotros__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    
}

.nosotros__info-text{
    font-family:TTNorms-Regular;
    font-size: 1.8em;
    width: 900px;
    height: 600px;
    margin-left: 100px;
    overflow: scroll;
 
} */


/*---------------------------------------  Page Productos -----------------------------------------*/

/* .page__product{
    height: 100vh;
    background-image: url(../assets/img/Fondocover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.list__product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.list__product img{
    width: 200px;

}

.menu__product ul{
    flex-direction: column;
    display: inline-block;
    
}

.menu__product ul li{
    margin-top: 100px;
    position: relative;
    background-color: thistle;
    
    
} */

/*---------------------------------------  Page Reviews -----------------------------------------*/

/* .reviews__page{
    height: 100vh;
    background-image: url(../assets/img/Fondocover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.product__reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------------------------------  Page contact us-----------------------------------------*/

/* .contact__page{
    height: 100vh;
    background-image: url(../assets/img/Fondocover.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;

}

.contact__form{
    background: white;
    display: flex;
    align-items: center;
    width: 800px;
    height: 500px;
    margin-left: 65vh;
    flex-direction: column;
    padding-top: 50px;
    font-size: 1.3em;
    font-family:TTNorms-Regular;
    border: solid 5px rgb(62, 153, 153);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    
}

legend{
    padding-top: 55px;
    padding-left: 130px;
} */
 */



/* ------------------------------------------------ Header + Nav -------------------------------------------------*/

/*header{
    background-image: url(../assets/img/Fondocover.png);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;

}

.header__icon-mobile{
   margin-right: 2%;
   width: 6%;
   
   
}

.header__nav{
    display: none;
} 

.header__logo{
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
} 

@media screen and (min-width: 1024px){
    
    .header__icon-mobile{
        display: none;
    }
    .header__nav{
        display: block;
    }
    .header__link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        margin-right: 5px;
        

    }

    .header__link li{
       padding: 5px;
        list-style-type: none;
        font-size: 0.9rem;
        padding: 5px;
        font-family:"TTNorms-Bold";
        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        
        
    }

    .header__logo{
        width: 11%;
        margin-bottom: 1%;
        
        
    }

}  
    
/*------------------------------------------------ COVER -------------------------------------------------*/



/*
.cover{
    position: relative;
   
}

.cover h2{
    position: relative;
    display: inline-block;
    font-family:TTNorms-Regular;
    top: -700px;
    margin-left: 250px;
    font-size: 130px;
    
    
}

.cover__image img{
    width: 100%;
}

.btn__shop{
    position: relative;
    font-family:TTNorms-ExtraBold;
    width: 20vh; 
    height: 50px;
    border-radius: 45px;
    font-size: 20px;
    top: -650px;
    margin-left: 300px;
    background-color: rgb(255, 255, 255);
    
}

.btn__products{
    position: relative;
    font-family:TTNorms-ExtraBold;
    width: 20vh; 
    height: 50px;
    border-radius: 45px;
    font-size: 20px;
    top: -650px;
    margin-left: 40px;

}  

/*------------------------------------------------ COVER -------------------------------------------------*/
/*
.cover video{
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    
}

.header__index{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    width: 35%;
    margin-top: 1vh;
    margin-left: 1vh;
    
}

.header__icon-mobile{
    margin-right: 0.5vh;

}

.header__nav{
    display: none;
}

.text__cover
{
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text__cover h2{
    font-family: "TTNorms-ExtraBold";
    font-size: 1.1em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    margin-top:18%;


}
.text__cover h3{
    font-family: "TTNorms-Bold";
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 7%;
}
.text__cover p{
    font-family: "TTNorms-Regular";
    font-size: 0.9em;
    width: 80vw;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}   


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(96, 109, 112);
    mix-blend-mode: overlay;
    
} 
 
.text__cover a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 30%;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    transition: 0.2s;   
    
  }
  
.text__cover a:hover{
    letter-spacing: 6px;
  }
  

  @media screen and (min-width: 1024px){

    header{
        position: fixed;
        background-image: url(../assets/img/Fondocover.png);
        background-repeat:no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        width: 100vw;
    
    }
    
    .header__icon-mobile{
        display: none;
    }
    .header__nav{
        display: block;
    }
    .header__link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        margin-right: 5px;
        

    }

    .header__link li{
       padding: 5px;
        list-style-type: none;
        font-size: 0.9rem;
        padding: 5px;
        font-family:"TTNorms-Bold";
        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        
        
    }

    .header__logo{
        width: 30%;
        margin-top: 0.5%;
        
        
    }

    .text__cover
    {
      position: relative;
      z-index: 10;
      height: 100vh;
    }

    .text__cover h2
    {
      font-size: 4em;
      margin-top: 0.5%;
      
    }
    .text__cover h3
    {
      font-size: 3.5em;
      margin-top: 3%;
      
    }

    .text__cover p
    {
      font-size: 2em;
      max-width: 100%;
      margin: 2%;
      font-family: "TTNorms-Regular";
      width: 80vw;
      color: #fff;
      margin: 20px 0;
      font-weight: 400;
      width: 90%;
     

      
    }
    
    .text__cover a{
        margin-top: 5vh;

    }
    
 }  


/*-------------------------------------------aplicacion grid en index---------------------------------*/
 /*.articles__general{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
        "title     title"
        "video1     titlesec1"
         "titlesec2  video2"
        "video3     titlesec3";
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/img/Fondocover.png);
    background-repeat:no-repeat;
    background-size: cover;
    
   

 }

 .articles__general h2{
    grid-area: "title";
    font-family: "TTNorms-ExtraBold";
    
    
    
 }

 .articles__general-title1{
    grid-area: "titledsec1";
    font-family: "TTNorms-ExtraBold";
    color: #fff;

 }

 .articles__general-title2{
    grid-area: "titledsec2";
    font-family: "TTNorms-ExtraBold";
    color: #fff;
 }

 .articles__general-title3{
    grid-area: "titledsec3";
    font-family: "TTNorms-ExtraBold";
    color: #fff;
 }



 .cover__video1{
    grid-area: "video1";

    
 }

 .cover__video2{
    grid-area: "video2";
    
 }

 .cover__video3{
    grid-area: "video3";
    
 }

 .articles__general video{
    width: 60%;
    border-radius: 20px;
 }


 @media screen and (max-width: 780px){
    .articles__general{
        
        grid-template-columns: 3fr ;
        grid-template-rows: 5fr 15fr 15fr 15fr ;
        grid-template-areas: 
            "title"
            "titlesec1"
            "video1"    
            "titlesec2" 
            "video2"
            "titlesec3"
            "video3"  ;

    }
    
 }


.page__product{
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    grid-template-rows:  25% 25% 25% 25%;
    grid-template-areas: 
        "nav product product product"
        "nav product product product"
        "nav product product product"
        "nav banner  banner  banner";
    
    height: 100vh;
    width: auto;
    margin-top: 100px;
}

.menu__product{
    grid-area: "nav";
    background-color: #fff;
}

.list__product{
    grid-area: "product";
    position: fixed;
    background-image: url(../assets/img/Fondocover.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.banner__products{
    grid-area: banner;
}

/*.list__product{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.list__product img{
    width: 10%;
}

.banner__products img{
    width: 10%;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-image: url(../assets/img/COVERdiseñowqeb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
} 

.header__link{
    list-style-type: none;
    display: flex;
    
}

nav > ul > li{
    padding: 20px; 
    margin-right: 15px;
    font-family:TTNorms-Bold;

}

header img{
    width: 180px;
    padding-left: 10px;
    padding-top: 9px;
    
}  


.articles__general{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;

}  */